# class 3 python

# Arithematic operators

# m;ss

In [17]:
# we cant apply addition operator on set 
{"a","d"}+{"q","k"}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
#dictionary no
{1:"a",2:"b"}+{3:"c",4:"d"}

# minus
#we can use minus symbol between sets,integers, floats but not on list and dict.

# multiplication

In [ ]:
"ab"*3

In [ ]:
["a","b"]*2 #list

In [ ]:
{"a","s"}*2 #set also not apply on dictionary

# division

In [18]:
# floor division
10/5

2.0

In [19]:
11/5

2.2

In [20]:
#floor division
11/5

2.2

In [21]:
11.6//5.0

2.0

# modulus

In [22]:
21%5

1

In [23]:
11%3

2

In [24]:
10%2

0

# power

In [25]:
2**3 #2*2*2

8

# comparsion operators

==
>=
<=
!=,<>
>
<

In [26]:
2==2

True

In [27]:
a=['a','b']
b=['a','c']
print(a==b)

False

In [28]:
5>5

False

In [29]:
"a">"b"

False

In [33]:
chr(65)

'A'

##### ord("A")

In [34]:
# 5>=5 and 5>4 is same

In [38]:
'afshan'!= 'Afshan'

True

# ASSignment operator

- *=
- /=
- +=
- -=
- =
- //=
- **=
- %=

In [40]:
a=1
a+=2
print(a)

3

In [41]:
a=1
a+=2
a+=5
a+=2
print(a)

10

~ same for minus

In [42]:
a=1
a**=2
a**=5
a**2
print(a)

1

In [45]:
a='A'
a *=2
print(a)

AA

# logical operators
- and 
- or 
- not

In [47]:
    True and True and True

True

In [50]:
True & False

False

In [49]:
True and True and False and True

False

In [51]:
True or False

True

In [52]:
True | False |False |False

True

In [53]:
not(True)

False

In [ ]:
uname=input("enter your name :")
password=input("enter password : ")
uname =="Ali" | uname=="Hamza" | uname=="Junaid" & password==1234

In [ ]:
uname=input("enter your name :")
password=input("enter password : ")
uname =="Ali" | uname=="Hamza" | uname=="Junaid" & password==1234

In [ ]:
uname=input("enter your name :")
password=input("enter password : ")
uname =="Ali" | uname=="Hamza" | uname=="Junaid" & password==1234

In [1]:
2+2

4